.chatContainer {
  width: 100%;
  padding: 0 12px;

  .creation {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 6px;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    margin: 16px 0 6px;
    background: var(--s-color-brand-primary-transparent-1);
    border: 0.5px solid var(--s-color-brand-primary_transparent_3, rgba(0, 102, 255, .15));
    color: var(--s-color-brand-primary-default, #0057ff);
    cursor: pointer;

    &:hover {
      background: var(--s-color-brand-primary-transparent-2, rgba(0, 102, 255, 0.1));
    }

    .left {
      display: flex;
      align-items: center;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        font-size: 14px;
        font-weight: 500;
        background-color: transparent;
        border-radius: 12px;
      }

      .text-creation {
        flex: 1;
        font-weight: 600;
        font-size: 14px;
        margin-left: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 22px;
      }
    }
  }
}
